# Kaggle: Creating, Reading and Writing

This course teaches the basic of Pandasâ€”how to use it to create, read, and write files to csv.<hr>
<!-- <img title = "panda" src = "https://cdn.mos.cms.futurecdn.net/snvWHcGBeh6zwFMPsi8bDN-1024-80.jpg.webp" width = '200'/> >

## 1. Creating data
- pd.DataFrame(): returns a table, takes dictionary, index name... .
- pd.Series(): returns a column, takes index name, and table name.

### 1.1. Data Frames:

In [13]:
import pandas as pd
pd.DataFrame({"Yes": [50, 21], "No": [131, 2]})

   Yes   No
0   50  131
1   21    2

#### Editing the index
There you can notice that there is an index, you can actually edit it:

In [18]:
pd.DataFrame({"Yes": [50, 21], "No": [131, 2]}, index=["Alabama", "Detroit"])

         Yes   No
Alabama   50  131
Detroit   21    2

### 1.2. Series:
Series do not have a column name, but overall

In [14]:
pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

#### Editing Index and name

In [15]:
pd.Series([30, 35, 40], index = ["2015 Sales", "2016 Sales", "2017 Sales"], name = "Product A")

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

## 2. Reading data files
- pd.read_csv(): to read csv, takes many arguments, the most important is the path.

In [24]:
# This is my own file
price = pd.read_csv(r"C:\Users\magan\Desktop\Python-Courses\Python-Data\Prizes.csv")
price.head()

   Sq Meters  Prices in Hundred K
0         28                  115
1         23                  119
2         28                  176
3         30                  145
4         28                  125

## 3. Writing to a csv
- pd.DataFrame.to_csv(): You can use this to transfer data frame to csv

In [44]:
Diet = pd.DataFrame({"Apples": [1, 2], "Bananas": [3, 4]}, index = ["Monday", "Tuesday"])
print(Diet)

         Apples  Bananas
Monday        1        3
Tuesday       2        4

In [46]:
# You can make it a csv file like the open()
pd.DataFrame.to_csv(Diet, "Diet.csv") # you can assign False to index attribute

## 4. Exercise

##### 1.

In the cell below, create a DataFrame `fruits` that looks like this:

![](https://storage.googleapis.com/kaggle-media/learn/images/Ax3pp2A.png)

In [ ]:
# Your code goes here:

##### 2.

Create a dataframe `fruit_sales` that matches the diagram below:

![](https://storage.googleapis.com/kaggle-media/learn/images/CHPn7ZF.png)

In [32]:
# Your code goes here:

##### 3.

Create a variable `ingredients` with a Series that looks like:

```
Flour     4 cups
Milk       1 cup
Eggs     2 large
Spam       1 can
Name: Dinner, dtype: object
```

In [33]:
# Your code goes here:

##### 5.

Run the cell below to create and display a DataFrame called `animals`:

In [37]:
animals = pd.DataFrame({'Cows': [12, 20], 'Goats': [22, 19]}, index=['Year 1', 'Year 2'])
animals

        Cows  Goats
Year 1    12     22
Year 2    20     19

In the cell below, write code to save this DataFrame to disk as a csv file with the name `cows_and_goats.csv`.

In [40]:
# Your code goes here: